page-pergunta {
    .titulo-pergunta {
      color: #ffffff;
      margin-top: 0;
    }

    button p {
      color: #ffbd00;
    }

    .dica-sopro img {
      margin-left: calc(50% - 50px);
    }

    .dica-sopro {
      margin-top: 10%;
    }

    .pontuacao {
      font-size: 25px;
      color: #ffffff;
      margin-top: 10px;
    }

    .icone-saida {
      font-size: 50px;
      margin-left: 80%;
      color: #488aff;
    }
}
