<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <p class="pontuacao">{{pontuacao}} XP</p>
      </ion-col>
      <ion-col col-6>
        <ion-icon name="exit" class="icone-saida" (click)="retornarParaMenu()" ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1 text-center class="titulo-pergunta">{{perguntaAtual.titulo}}</h1>
  <ion-grid class="dica-sopro">
    <ion-row>
      <ion-col col-6>
        <img *ngIf="!usouDica" (click)="usarDica()" src="assets/imgs/dica.png">
        <img *ngIf="usouDica" [style.opacity]="0.2" src="assets/imgs/dica.png">
      </ion-col>
      <ion-col col-6>
        <img *ngIf="!usouSopro" (click)="usarSopro()" src="assets/imgs/sopro.png">
        <img *ngIf="usouSopro" [style.opacity]="0.2" src="assets/imgs/sopro.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="alternativas">
    <button ion-button full class="botao-generico" [disabled]="alternativas[0].desabilitada" (click)="verificarResposta(alternativas[0])" >
      <p>A:</p>&nbsp;{{ alternativas[0].titulo }}&nbsp;{{ alternativas[0].porcentagemSopro }}
    </button>
    <button ion-button full class="botao-generico" [disabled]="alternativas[1].desabilitada" (click)="verificarResposta(alternativas[1])">
      <p>B:</p>&nbsp;{{ alternativas[1].titulo }}&nbsp;{{ alternativas[1].porcentagemSopro }}
    </button>
    <button ion-button full class="botao-generico" [disabled]="alternativas[2].desabilitada" (click)="verificarResposta(alternativas[2])">
      <p>C:</p>&nbsp;{{ alternativas[2].titulo }}&nbsp;{{ alternativas[2].porcentagemSopro }}
    </button>
    <button ion-button full class="botao-generico" [disabled]="alternativas[3].desabilitada" (click)="verificarResposta(alternativas[3])">
      <p>D:</p>&nbsp;{{ alternativas[3].titulo }}&nbsp;{{ alternativas[3].porcentagemSopro }}
    </button>
  </div>
</ion-content>
