page-pergunta {
    .titulo-pergunta {
        color: #ffffff;
    }

    button p {
        color: #ffbd00;
    }

    .dica-sopro img {
        margin-left: calc(50% - 50px);
    }

    .dica-sopro {
        margin-top: 10%;
    }

    .alternativas {
        margin-top: 20%;
    }
}
