page-pergunta {
    button p {
        color: #ffbd00;
    }

    .dica-sopro img {
        margin-left: calc(50% - 50px);
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-left: calc(50% - 75px);
    }
}
