page-pontuacao {
  .dificuldades {
    background-color: #dedede;
  }

  .pontos {
    color: #0000ff;
    text-align: center;
    margin-top: 25% !important;
    font-weight: bold;
  }

  .voltar {
    text-align: center;
  }
}
