page-pontuacao {
  .dificuldades {
    background-color: #dedede;
  }

  .pontos {
    color: #0000ff;
    text-align: center;
    margin-top: 25% !important;
    font-weight: bold;
  }

  .voltar {
    margin-bottom: 10%;
    width: 100px;
    margin-left: calc(50% - 50px);
    color: #ffffff;
  }
}
