page-opcoes {
  .titulo-opcoes {
    color: #fff;
  }

  .audio{
    font-size: 20px;
    color:#488aff;
  }

  .musica{
    font-size: 20px;
    color: #488aff;
  }

  .icone-saida {
    font-size: 45px;
    margin-left: 80%;
    color: #488aff;
}
}
