page-resultado {
  p {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
  }

  .classificacao {
    color: #ffee00;
    font-size: 32px;
  }

  .botao-retornar-menu {
    margin-top: 15%;
  }
}
